html {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
}

.navbar >div{
    padding: 15px 0px;
}

.logo{
    text-transform: uppercase;
    font-weight: 800;
}

.logo, .login{
    width: 25%;
    text-align: center;
}

.navlink{
    width: 50%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}


/* style for hero section */
.hero{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
    background-color: #fcbacc;
}

.hero-content{
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.hero-content h1{
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 35px;
  font-weight: bold;
}

.hero-content p{
  font-size: 16px;
  margin-bottom: 35px;
}

.hero-content button{
  font-size: 16px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 5px;
    align-self: flex-start;
}

.hero-images{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-images img{
  height: 400px;
  width: 300px;
  object-fit: cover;
}

